In [8]:
import main
testData = main.load_and_clean_input('test.csv')

     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare  \
0      male  34.5      0      0              330911    7.8292
1    female  47.0      1      0              363272    7.0000
2      male  62.0      0      0              240276    9.6875
3      male  27.0      0      0              315154    8.6625
4    female  22.0      1      1             3101298   12.2875
5      male  14.0      0      0                7538    9.2250
6    female  30.0      0      0              330972    7.6292
7      male  26.0      1      1              248738   29.0000
8    female  18.0      0      0                2657    7.2292
9      male  21.0      2      0           A/4 48871   24.1500
10     male   NaN      0      0              349220    7.8958
11     male  46.0      0      0                 694   26.0000
12   female  23.0      1      0               21228   82.2667
13     male  63.0      1      0               24065   26.0000
14   female  47.0      1      0         W.E.P. 5734   61.1750
15   female  24.0      1      0       SC/PARIS 2167   27.7208
16     male  35.0      0      0              233734   12.3500
17     male  21.0      0      0                2692    7.2250
18   female  27.0      1      0    STON/O2. 3101270    7.9250
19   female  45.0      0      0                2696    7.2250
20     male  55.0      1      0            PC 17603   59.4000
21     male   9.0      0      1             C 17368    3.1708
22   female   NaN      0      0            PC 17598   31.6833
23     male  21.0      0      1            PC 17597   61.3792
24   female  48.0      1      3            PC 17608  262.3750
25     male  50.0      1      0           A/5. 3337   14.5000
26   female  22.0      0      1              113509   61.9792
27     male  22.5      0      0                2698    7.2250
28     male  41.0      0      0              113054   30.5000
29     male   NaN      2      0                2662   21.6792
..      ...   ...    ...    ...                 ...       ...
388    male  21.0      0      0              364858    7.7500
389    male   6.0      3      1              349909   21.0750
390    male  23.0      0      0               12749   93.5000
391  female  51.0      0      1            PC 17592   39.4000
392    male  13.0      0      2           C.A. 2673   20.2500
393    male  47.0      0      0          C.A. 30769   10.5000
394    male  29.0      3      1              315153   22.0250
395  female  18.0      1      0               13695   60.0000
396    male  24.0      0      0              371109    7.2500
397  female  48.0      1      1               13567   79.2000
398    male  22.0      0      0              347065    7.7750
399    male  31.0      0      0               21332    7.7333
400  female  30.0      0      0               36928  164.8667
401    male  38.0      1      0               28664   21.0000
402  female  22.0      0      1              112378   59.4000
403    male  17.0      0      0              113059   47.1000
404    male  43.0      1      0               17765   27.7208
405    male  20.0      0      0       SC/PARIS 2166   13.8625
406    male  23.0      1      0               28666   10.5000
407    male  50.0      1      1              113503  211.5000
408  female   NaN      0      0              334915    7.7208
409  female   3.0      1      1  SOTON/O.Q. 3101315   13.7750
410  female   NaN      0      0              365237    7.7500
411  female  37.0      1      0               19928   90.0000
412  female  28.0      0      0              347086    7.7750
413    male   NaN      0      0           A.5. 3236    8.0500
414  female  39.0      0      0            PC 17758  108.9000
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500
416    male   NaN      0      0              359309    8.0500
417    male   NaN      1      1                2668   22.3583

               Cabin Embarked
0                NaN        Q
1                NaN        S
2                NaN        Q
3                NaN        S
4                NaN        S
5                NaN        S
6                NaN        Q
7                NaN        S
8                NaN        C
9                NaN        S
10               NaN        S
11               NaN        S
12               B45        S
13               NaN        S
14               E31        S
15               NaN        C
16               NaN        Q
17               NaN        C
18               NaN        S
19               NaN        C
20               NaN        C
21               NaN        S
22               NaN        S
23               NaN        C
24   B57 B59 B63 B66        C
25               NaN        S
26               B36        C
27               NaN        C
28               A21        S
29               NaN        C
..               ...      ...
388              NaN        Q
389              NaN        S
390              B24        S
391              D28        S
392              NaN        S
393              NaN        S
394              NaN        S
395              C31        S
396              NaN        Q
397              B41        C
398              NaN        S
399              NaN        Q
400               C7        S
401              NaN        S
402              NaN        C
403              NaN        S
404              D40        C
405              D38        C
406              NaN        S
407              C80        C
408              NaN        Q
409              NaN        S
410              NaN        Q
411              C78        Q
412              NaN        S
413              NaN        S
414             C105        C
415              NaN        S
416              NaN        S
417              NaN        C

[418 rows x 11 columns]