In [4]:
import main
testData = main.load_data()
testData

20:35:58 Loading "data.pickle"

,Status,Name,Salutation,Title,FirstName,SpouseName,MaidenName,LastName,Sex,Age,SiblingsSpouses,ParentChildren,PassengerClass,Embarked,Ticket,Fare,Cabin,CabinFloor,CabinRooms
PassengerId,,,,,,,,,,,,,,,,,,,
892,-1,"Kelly, Mr. James",Mr,Mr,James,None,None,Kelly,male,34.5,0,0,3,Q,330911,7.8292,,None,[]
893,-1,"Wilkes, Mrs. James (Ellen Needs)",Mrs,Mrs,James,Ellen,Needs,Wilkes,female,47.0,1,0,3,S,363272,7.0000,,None,[]
894,-1,"Myles, Mr. Thomas Francis",Mr,Mr,Thomas Francis,None,None,Myles,male,62.0,0,0,2,Q,240276,9.6875,,None,[]
895,-1,"Wirz, Mr. Albert",Mr,Mr,Albert,None,None,Wirz,male,27.0,0,0,3,S,315154,8.6625,,None,[]
896,-1,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",Mrs,Mrs,Alexander,Helga E,Lindqvist,Hirvonen,female,22.0,1,1,3,S,3101298,12.2875,,None,[]
897,-1,"Svensson, Mr. Johan Cervin",Mr,Mr,Johan Cervin,None,None,Svensson,male,14.0,0,0,3,S,7538,9.2250,,None,[]
898,-1,"Connolly, Miss. Kate",Miss,Miss,Kate,None,None,Connolly,female,30.0,0,0,3,Q,330972,7.6292,,None,[]
899,-1,"Caldwell, Mr. Albert Francis",Mr,Mr,Albert Francis,None,None,Caldwell,male,26.0,1,1,2,S,248738,29.0000,,None,[]
900,-1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",Mrs,Mrs,Joseph,Sophie Halaut,Easu,Abrahim,female,18.0,0,0,3,C,2657,7.2292,,None,[]
901,-1,"Davies, Mr. John Samuel",Mr,Mr,John Samuel,None,None,Davies,male,21.0,2,0,3,S,A/4 48871,24.1500,,None,[]
902,-1,"Ilieff, Mr. Ylio",Mr,Mr,Ylio,None,None,Ilieff,male,NaN,0,0,3,S,349220,7.8958,,None,[]
903,-1,"Jones, Mr. Charles Cresson",Mr,Mr,Charles Cresson,None,None,Jones,male,46.0,0,0,1,S,694,26.0000,,None,[]
904,-1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",Mrs,Mrs,John Pillsbury,Nelle,Stevenson,Snyder,female,23.0,1,0,1,S,21228,82.2667,B45,B,[45]
905,-1,"Howard, Mr. Benjamin",Mr,Mr,Benjamin,None,None,Howard,male,63.0,1,0,2,S,24065,26.0000,,None,[]
906,-1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",Mrs,Mrs,Herbert Fuller,Carrie Constance,Toogood,Chaffee,female,47.0,1,0,1,S,W.E.P. 5734,61.1750,E31,E,[31]
907,-1,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",Mrs,Mrs,Sebastiano,Argenia,Genovesi,del Carlo,female,24.0,1,0,2,C,SC/PARIS 2167,27.7208,,None,[]
908,-1,"Keane, Mr. Daniel",Mr,Mr,Daniel,None,None,Keane,male,35.0,0,0,2,Q,233734,12.3500,,None,[]
909,-1,"Assaf, Mr. Gerios",Mr,Mr,Gerios,None,None,Assaf,male,21.0,0,0,3,C,2692,7.2250,,None,[]
910,-1,"Ilmakangas, Miss. Ida Livija",Miss,Miss,Ida Livija,None,None,Ilmakangas,female,27.0,1,0,3,S,STON/O2. 3101270,7.9250,,None,[]
911,-1,"Assaf Khalil, Mrs. Mariana (Miriam)",Mrs,Mrs,Mariana,Miria,Miriam,Assaf Khalil,female,45.0,0,0,3,C,2696,7.2250,,None,[]
912,-1,"Rothschild, Mr. Martin",Mr,Mr,Martin,None,None,Rothschild,male,55.0,1,0,1,C,PC 17603,59.4000,,None,[]
913,-1,"Olsen, Master. Artur Karl",Master,Mr,Artur Karl,None,None,Olsen,male,9.0,0,1,3,S,C 17368,3.1708,,None,[]
914,-1,"Flegenheim, Mrs. Alfred (Antoinette)",Mrs,Mrs,Alfred,Antoinett,Antoinette,Flegenheim,female,NaN,0,0,1,S,PC 17598,31.6833,,None,[]
915,-1,"Williams, Mr. Richard Norris II",Mr,Mr,Richard Norris II,None,None,Williams,male,21.0,0,1,1,C,PC 17597,61.3792,,None,[]
916,-1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",Mrs,Mrs,Arthur Larned,Emily Maria,Borie,Ryerson,female,48.0,1,3,1,C,PC 17608,262.3750,B57 B59 B63 B66,B,"[57, 59, 63, 66]"
917,-1,"Robins, Mr. Alexander A",Mr,Mr,Alexander A,None,None,Robins,male,50.0,1,0,3,S,A/5. 3337,14.5000,,None,[]
918,-1,"Ostby, Miss. Helene Ragnhild",Miss,Miss,Helene Ragnhild,None,None,Ostby,female,22.0,0,1,1,C,113509,61.9792,B36,B,[36]
919,-1,"Daher, Mr. Shedid",Mr,Mr,Shedid,None,None,Daher,male,22.5,0,0,3,C,2698,7.2250,,None,[]
920,-1,"Brady, Mr. John Bertram",Mr,Mr,John Bertram,None,None,Brady,male,41.0,0,0,1,S,113054,30.5000,A21,A,[21]
921,-1,"Samaan, Mr. Elias",Mr,Mr,Elias,None,None,Samaan,male,NaN,2,0,3,C,2662,21.6792,,None,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,"Giles, Mr. Frederick Edward",Mr,Mr,Frederick Edward,None,None,Giles,male,21.0,1,0,2,S,28134,11.5000,,None,[]
863,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",Mrs,Mrs,Frederick Joel,Margaret Welles,Barron,Swift,female,48.0,0,0,1,S,17466,25.9292,D17,D,[17]
864,0,"Sage, Miss. Dorothy Edith Dolly",Miss,Miss,Dorothy Edith Dolly,None,None,Sage,female,NaN,8,2,3,S,CA. 2343,69.5500,,None,[]
865,0,"Gill, Mr. John William",Mr,Mr,John William,None,None,Gill,male,24.0,0,0,2,S,233866,13.0000,,None,[]
866,1,"Bystrom, Mrs. (Karolina)",Mrs,Mrs,None,Karolin,Karolina,Bystrom,female,42.0,0,0,2,S,236852,13.0000,,None,[]
867,1,"Duran y More, Miss. Asuncion",Miss,Miss,Asuncion,None,None,Duran y More,female,27.0,1,0,2,C,SC/PARIS 2149,13.8583,,None,[]
868,0,"Roebling, Mr. Washington Augustus II",Mr,Mr,Washington Augustus II,None,None,Roebling,male,31.0,0,0,1,S,PC 17590,50.4958,A24,A,[24]
869,0,"van Melkebeke, Mr. Philemon",Mr,Mr,Philemon,None,None,van Melkebeke,male,NaN,0,0,3,S,345777,9.5000,,None,[]
870,1,"Johnson, Master. Harold Theodor",Master,Mr,Harold Theodor,None,None,Johnson,male,4.0,1,1,3,S,347742,11.1333,,None,[]
871,0,"Balkic, Mr. Cerin",Mr,Mr,Cerin,None,None,Balkic,male,26.0,0,0,3,S,349248,7.8958,,None,[]
872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",Mrs,Mrs,Richard Leonard,Sallie,Monypeny,Beckwith,female,47.0,1,1,1,S,11751,52.5542,D35,D,[35]
873,0,"Carlsson, Mr. Frans Olof",Mr,Mr,Frans Olof,None,None,Carlsson,male,33.0,0,0,1,S,695,5.0000,B51 B53 B55,B,"[51, 53, 55]"
874,0,"Vander Cruyssen, Mr. Victor",Mr,Mr,Victor,None,None,Vander Cruyssen,male,47.0,0,0,3,S,345765,9.0000,,None,[]
875,1,"Abelson, Mrs. Samuel (Hannah Wizosky)",Mrs,Mrs,Samuel,Hannah,Wizosky,Abelson,female,28.0,1,0,2,C,P/PP 3381,24.0000,,None,[]
876,1,"Najib, Miss. Adele Kiamie Jane",Miss,Miss,Adele Kiamie Jane,None,None,Najib,female,15.0,0,0,3,C,2667,7.2250,,None,[]
877,0,"Gustafsson, Mr. Alfred Ossian",Mr,Mr,Alfred Ossian,None,None,Gustafsson,male,20.0,0,0,3,S,7534,9.8458,,None,[]
878,0,"Petroff, Mr. Nedelio",Mr,Mr,Nedelio,None,None,Petroff,male,19.0,0,0,3,S,349212,7.8958,,None,[]
879,0,"Laleff, Mr. Kristo",Mr,Mr,Kristo,None,None,Laleff,male,NaN,0,0,3,S,349217,7.8958,,None,[]
880,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",Mrs,Mrs,Thomas Jr,Lily Alexenia,Wilson,Potter,female,56.0,0,1,1,C,11767,83.1583,C50,C,[50]
881,1,"Shelley, Mrs. William (Imanita Parrish Hall)",Mrs,Mrs,William,Imanita Parrish,Hall,Shelley,female,25.0,0,1,2,S,230433,26.0000,,None,[]
882,0,"Markun, Mr. Johann",Mr,Mr,Johann,None,None,Markun,male,33.0,0,0,3,S,349257,7.8958,,None,[]
883,0,"Dahlberg, Miss. Gerda Ulrika",Miss,Miss,Gerda Ulrika,None,None,Dahlberg,female,22.0,0,0,3,S,7552,10.5167,,None,[]
884,0,"Banfield, Mr. Frederick James",Mr,Mr,Frederick James,None,None,Banfield,male,28.0,0,0,2,S,C.A./SOTON 34068,10.5000,,None,[]
885,0,"Sutehall, Mr. Henry Jr",Mr,Mr,Henry Jr,None,None,Sutehall,male,25.0,0,0,3,S,SOTON/OQ 392076,7.0500,,None,[]
886,0,"Rice, Mrs. William (Margaret Norton)",Mrs,Mrs,William,Margaret,Norton,Rice,female,39.0,0,5,3,Q,382652,29.1250,,None,[]
887,0,"Montvila, Rev. Juozas",Rev,Mr,Juozas,None,None,Montvila,male,27.0,0,0,2,S,211536,13.0000,,None,[]
888,1,"Graham, Miss. Margaret Edith",Miss,Miss,Margaret Edith,None,None,Graham,female,19.0,0,0,1,S,112053,30.0000,B42,B,[42]
889,0,"Johnston, Miss. Catherine Helen Carrie",Miss,Miss,Catherine Helen Carrie,None,None,Johnston,female,NaN,1,2,3,S,W./C. 6607,23.4500,,None,[]
890,1,"Behr, Mr. Karl Howell",Mr,Mr,Karl Howell,None,None,Behr,male,26.0,0,0,1,C,111369,30.0000,C148,C,[148]
891,0,"Dooley, Mr. Patrick",Mr,Mr,Patrick,None,None,Dooley,male,32.0,0,0,3,Q,370376,7.7500,,None,[]

In [5]:
main.pivot_discrete(testData, "Salutation")

Status           -1      0      1
Salutation
Capt            0.0    1.0    0.0
Col             2.0    1.0    1.0
Don             0.0    1.0    0.0
Dona            1.0    0.0    0.0
Dr              1.0    4.0    3.0
Jonkheer        0.0    1.0    0.0
Lady            0.0    0.0    1.0
Major           0.0    1.0    1.0
Master         21.0   17.0   23.0
Miss           78.0   55.0  127.0
Mlle            0.0    0.0    2.0
Mme             0.0    0.0    1.0
Mr            240.0  436.0   81.0
Mrs            72.0   26.0   99.0
Ms              1.0    0.0    1.0
Rev             2.0    6.0    0.0
Sir             0.0    0.0    1.0
the Countess    0.0    0.0    1.0